<html>
  <head>
    <title>
      Práctica #3
    </title>
  </head>
<h1>Bienvenidos a la práctica #3 Routing and Navigation</h1>
<nav>
  <ul>
    <li><a routerLink="/Routeone" routerLinkActive="active">Ruta #1</a></li>
    <li><a routerLink="/Routetwo" routerLinkActive="active">Ruta #2</a></li>
    <li><a [routerLink]="['/Routetring',hola]" routerLinkActive="active">Ruta parametro String</a></li>
    <li><a [routerLink]="['/Routejson',equipo.pais,equipo.nombre]" routerLinkActive="active">Ruta parametro Json</a></li>
    <li><a routerLink="/Melanie" routerLinkActive="active">Ruta no encontrada</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
</html>